{% extends 'mysite/base.html' %}


{% block title %}
	<title>Tutorials | Programming Mind</title>
{% endblock %}





{% block content %}

	<style>

		.margin{
			margin-top: 50px;
		}
		
	</style>







	<div class="scoped-card">
		<!-- <form style="margin-top: 20px;" method="get" action="#">
			<label for="name">Search under development </label>
			<input type="text" placeholder="Search.." name="q" id="name"/>
			<a class="btn btn-info"href="#">Search</a>
		</form>
 -->

		<form class="margin" action="{% url 'search_results' %}"  method="get">
	      <div class="p-1 bg-light rounded rounded-pill shadow-sm mb-4">
	        <div class="input-group">
	          <input type="search" name="q" placeholder="What are you searching for?" aria-describedby="button-addon1" class="form-control border-0 bg-light " required>
	          <div class="input-group-append">
	            <button id="button-addon1" type="submit" class="btn btn-link text-primary"><i class="fa fa-search"></i></button>
	          </div>
	        </div>
	      </div>
	    </form>


		<h1 class="mb-4">Tutorials</h1>

		{% for tutorial in tutorial_series %}
		<div class="row">
			<div class="card w-100 mb-3 h-100">
			  <div class="row no-gutters">
			    <div class="col-md-4">
			      <img class="w-100" src="{{ tutorial.get_photo_url  }}" class="card-img" alt="{{ tutorial.title }}">
			    </div>
			    <div class="col-md-8">
			      <div class="card-body">
			        <h5 class="card-title">{{ tutorial.title }}</h5>
			        <p class="card-text">{{ tutorial.summary|safe }}</p>
			        <a class="btn btn-outline-primary stretched-link"href="{{ tutorial.get_absolute_url }}">View</a>
			      </div>
			    </div>
			  </div>
			</div>
		</div>
	
		{% endfor %}
		
	</div>

		{% include 'mysite/snippets/pagination.html' %}
		

{% endblock content %}